<configuration>
  <configSections>
    <!-- Add log4net config section-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,     log4net" />

  </configSections>
  <appSettings>
    <!-- log4net configuration when running in debug mode. -->
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>

  <log4net debug="true">
    <appender name="NHibernate" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\logs\\Audit\\"/>
      <appendToFile value="true"/>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="NHibernate" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <datePattern value="yyyy-MM-dd'-nhibernate-all.log'" />
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %date %level caller:%logger message:%message "/>
      </layout>
    </appender>
    <appender name="NServiceBus" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\logs\\Audit\\"/>
      <appendToFile value="true"/>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="NServiceBus" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <datePattern value="yyyy-MM-dd'-nServiceBus-all.log'" />
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %date %level caller:%logger message:%message "/>
      </layout>
    </appender>
    <appender name="DebugErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\logs\\Audit\\"/>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="NHibernate" />
        <acceptOnMatch value="false" />
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="NServiceBus" />
        <acceptOnMatch value="false" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <datePattern value="yyyy-MM-dd'-application-errordebug.log'" />
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %date %level caller:%logger message:%message threadId:[%thread] user:%username "/>
      </layout>
    </appender>
    <appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\logs\\Audit\\"/>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="NHibernate" />
        <acceptOnMatch value="false" />
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="NServiceBus" />
        <acceptOnMatch value="false" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="INFO" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <datePattern value="yyyy-MM-dd'-application-info.log'" />
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %date %level caller:%logger message:%message"/>
      </layout>
    </appender>
    
    <root>
      <appender-ref ref="NServiceBus" />
      <appender-ref ref="NHibernate" />
      <appender-ref ref="DebugErrorFileAppender" />
      <appender-ref ref="InfoFileAppender" />      
    </root>
  </log4net>
</configuration>